<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findthetime">

    <application
        android:name="Models.Domain.Location"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ActivityOverview"></activity>
        <activity android:name=".Activities.ActivityStatus" />
        <activity android:name=".Activities.AcceptOrDecline" />
        <activity android:name=".Activities.AvailTimesList" />
        <activity android:name=".Activities.DatesList" />
        <activity android:name=".Activities.InvitedUsers" />
        <activity android:name=".Activities.ViewActivities" />
        <activity android:name=".Activities.ViewCreatedActivities" />
        <activity android:name=".Activities.MovieDetails" />
        <activity android:name=".Activities.InviteUsers" />
        <activity android:name=".Activities.TimesList" />
        <activity android:name=".Activities.CinemaList" />
        <activity android:name=".Activities.RestaurantList" />
        <activity
            android:name=".Activities.CreateMovieActivity"
            android:label="@string/activity_create_movie_activity" />
        <activity
            android:name=".Activities.RestaurantDetails"
            android:label="RestaurantDetails" />
        <activity
            android:name=".Activities.CreateRestaurantActivity"
            android:label="@string/title_activity_create_restaurant" />
        <activity
            android:name=".Activities.CreateNewActivity"
            android:label="@string/title_activity_create_new_activity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Homepage" /> <!-- Intent filter to catch Microsoft's callback after Sign In -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                    Add in your scheme/host from registered redirect URI
                    note that the leading "/" is required for android:path
                -->
                <data
                    android:host="com.example.findthetime"
                    android:path="/Bmce+9aHdOoVtE7fS3B07tfj7Bc="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>